@page "/footer"

<footer class="footer fixed-bottom bg-light">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-2 col-sm-auto">
                <NavLink class="nav-link" href="/">
                    <!-- Home Icon -->
                    <i class="bi bi-house-door" style="color: #495057;"></i>
                </NavLink>
            </div>
            <div class="col-2 col-sm-auto">
                <NavLink class="nav-link" href="/search">
                    <!-- Search Icon -->
                    <i class="bi bi-search" style="color: #495057;"></i>
                </NavLink>
            </div>
            <div class="col-2 col-sm-auto">
                <NavLink class="nav-link" href="/cart">
                    <!-- Bag Icon -->
                    <i class="bi bi-bag" style="color: #495057;"></i>
                </NavLink>
            </div>
            <div class="col-2 col-sm-auto">
                <NavLink class="nav-link" href="/favorites">
                    <!-- Heart Icon -->
                    <i class="bi bi-heart" style="color: #495057;"></i>
                </NavLink>
            </div>
            <div class="col-2 col-sm-auto">
                <NavLink class="nav-link" href="/profile">
                    <!-- Profile Icon -->
                    <i class="bi bi-person" style="color: #495057;"></i>
                </NavLink>
            </div>
        </div>
        <hr class="footer-line" style="height: 4px; background-color: #343a40; border: none; width: 20%;">
    </div>
</footer>


