@page "/Welcome3"

<PageTitle>Home3</PageTitle>

<div class="container-fluid d-flex justify-content-center align-items-end custom-container3">
    <div class="rounded-circle position-absolute custom-circle3">
        <div class="position-absolute custom-inner-circle3"></div>
        <div class="position-absolute custom-outer-circle3"></div>
        <div class="custom-text3">
            Easy Track Order!
        </div>
        <div class="custom-button-container3">
            <a href="/welcome4" class="custom-btn3">NEXT</a>
        </div>
        <div class="custom-page-indicators3">
            <a href="/Welcome2">
                <div class="custom-dot-filled3"></div>
            </a>
            <div class="custom-dot-empty3"></div>
            <a href="/Welcome4">
                <div class="custom-dot-filled3"></div>
            </a>
        </div>
        <div class="custom-horizontal-line3"></div>
    </div>
</div>
