@page "/Welcome2"

<PageTitle>Home2</PageTitle>

<div class="container-fluid d-flex justify-content-center align-items-end custom-container2">
    <div class="rounded-circle position-absolute custom-circle2">
        <div class="position-absolute custom-inner-circle2"></div>
        <div class="position-absolute custom-outer-circle2"></div>
        <div class="custom-text2">
            <span class="custom-bold2">Welcome To Manero!</span><br>
            <span class="custom-gray2">Your Style Awaits</span>
        </div>
        <div class="custom-button-container2">
            <a href="/Welcome3" class="custom-btn2">NEXT</a>
        </div>
        <div class="custom-page-indicators2">
            <div class="custom-dot-empty2"></div>
            <a href="/Welcome3">
                <div class="custom-dot-filled2"></div>
            </a>
            <a href="/Welcome4">
                <div class="custom-dot-filled2"></div>
            </a>
        </div>
        <div class="custom-horizontal-line2"></div>
    </div>
</div>
