@page "/Welcome4"

<PageTitle>Home4</PageTitle>

<div class="container-fluid d-flex justify-content-center align-items-end custom-container4">
    <div class="rounded-circle position-absolute custom-circle4">
        <div class="position-absolute custom-inner-circle4"></div>
        <div class="position-absolute custom-outer-circle4"></div>
        <div class="custom-text4">
            Door To Door Delivery!
        </div>
        <div class="custom-button-container4">
            <a href="/productlist">
            <button class="custom-btn4">GET STARTED</button>
            </a>
        </div>
        <div class="custom-page-indicators4">
            <a href="/Welcome2">
                <div class="custom-dot-filled4"></div>
            </a>
            <a href="/Welcome3">
                <div class="custom-dot-filled4"></div>
            </a>
            <div class="custom-dot-empty4"></div>
        </div>
        <div class="custom-horizontal-line4"></div>
    </div>
</div>
