@page "/card-failure"
@rendermode InteractiveAuto
@inject IJSRuntime JSRuntime
@inject HttpClient Http
@inject NavigationManager NavigationManager;

@code {
	void NavigateHome() {
		NavigationManager.NavigateTo("/list-cards");
	}
}

<PageTitle>Success!</PageTitle>

<div class="wrapper">
	<div class="container" id="success-page">
		<div class="success-image">
			<img id="green-tick" src="https://www.botlibre.com/media/a11675768-0.png" />
		</div>
		<div class="success-prompt">
			<h4>Operation Failed</h4>
			<p>Your card was could not be added, please try again later.</p>
		</div>
		<button class="btn" id="back-to-card-list-button" @onclick="NavigateHome">Go Back</button>
	</div>
</div>
